body{
  text-align: center;
  color: black;
  padding: 3%;
}

table{
  max-width: 500px;
  max-height: 500px;
  width: 90vw;
  height: 90vw;
  border-spacing: 10px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #542344;
}

td{
  width: 20%;
  height: 20%;
  border-radius: 10px;
  background-color: #CBC1B5;
  font-size: 2em;
  font-weight: bold;
}

a{
  text-decoration: underline;
  color: #766E66;
  margin:0;
}

#score{
  font-weight: bold;
}

#new-game{
  width: 10%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  border: 5px solid #542344;
  border-radius: 10px;

}

#new-game:hover{
  cursor: pointer;
}

.num-2{
  background-color: #EDE4DB;
}

.num-4{
  background-color: #EBDFC9;
}

.num-8{
 background-color: #9FA2B2;
}

.num-16{
  background-color: #D8D8F6;
}

.num-32{
  background-color: #BEA8AA;
}

.num-64{
 background-color: #7b7b80;
}

.num-128{
  background-color: #99b5bc;
}

.num-256{
  background-color: #893168;
}

.num-512{
  background-color: #CAC4CE;
}

.num-1024{
  background-color: #BFB1C1;
}

.num-2048{
  background-color: #70163C;
}

@media (max-width: 800px){
  #new-game{
    width: 50%;
  }
}

@media (max-width: 770px){
  h1{
    font-size: 2.5em;
  }

  td{
    font-size: 1.5em;
  }
  p, p a{
    font-size: 1.2em;
  }

  table{
    border-spacing: 5px;
  }

}